@{
    Layout = null;
}



<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a asp-area="" asp-controller="Home" asp-action="Sobre">Northwind.Core</a></strong><vc:ambiente></vc:ambiente>
</footer>