
@{
    Layout = null;
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/Images/logo01.png" alt="Northwind.Core" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Northwind.Core</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <!-- menu-open-->
                    <a class="nav-link" href="#">
                        <i class="fas fa-tachometer-alt nav-icon nav-icon"></i>
                        <p>
                            AAA
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>BBB</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="fas fa-book nav-icon"></i>
                        <p>
                            CCC
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a asp-area="" asp-controller="SolicitacoesProjetos" asp-action="Index" class="nav-link">
                                <i class="fas fa-lightbulb nav-icon"></i>
                                <p>FFE</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Projetos" asp-action="Index" class="nav-link">
                                <i class="fas fa-ruler nav-icon"></i>
                                <p>DDD</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pessoas" asp-action="Index" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>YYY</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-header" supress-by-claim-name="Adm" supress-by-claim-value="Ler">ADMINISTRAÇÃO</li>
                <li class="nav-item has-treeview" supress-by-claim-name="Adm" supress-by-claim-value="Ler">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog nav-icon"></i>
                        <p>
                            Administração
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Customers" asp-action="Index" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Customers</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Organizacoes" asp-action="Index" class="nav-link">
                                <i class="fas fa-industry nav-icon"></i>
                                <p>Employees</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Categories" asp-action="Index" class="nav-link">
                                <i class="fas fa-industry nav-icon"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ClassificacaoProjetos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Order</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="FamiliasEquipamentos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Products</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="StatusAplicacao" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Territories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Disciplinas" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Shippers</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
