
@{
    Layout = null;
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/Images/logo01.png" alt="Northwind.Core" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Northwind.Core</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                
                <li class="nav-header">Application</li>
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog nav-icon"></i>
                        <p>
                            Application
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Customers" asp-action="Index" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Customers</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Employees" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-briefcase nav-icon"></i>
                                <p>Employees</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Categories" asp-action="Index" class="nav-link">
                                <i class="fas fa-industry nav-icon"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Orders" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-box-open nav-icon"></i>
                                <p>Orders</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="nav-link">
                                <i class="fa-brands fa-product-hunt nav-icon"></i>
                                <p>Products</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Territories" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-map-location-dot nav-icon"></i>
                                <p>Territories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Shippers" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-fire nav-icon"></i>
                                <p>Shippers</p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>